form{
    padding:var(--card-padding); ;
}
label{
    font-weight: bold;
    
}
input{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    min-height: 20px;
    width: 50%;
}
table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    
}

.view-btn, .edit-btn, .deactivate-btn{    
    color: white;
    border: none;
   height: 30px;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
}
.view-btn{
    background-color: var(--color-success);
}
.edit-btn{
    background-color: var(--color-primary);
}
.deactivate-btn{
    background-color: var(--color-delete);
}

table p{
    padding-top: 10px;
}

