tr {
    cursor: pointer; 
}


tr:hover {
    background-color: var(--color-info-light);
}
.unread-notification-about {
    text-align: right;
}

tr td {
    padding: 10px; 
}

tr .clear-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;    
    margin-left: 40px;
}
.clear-btn img{
    width: 20px;
    height: 20px;
   
}

.btn-back{
    background-color: var(--color-primary);
    border-radius: 10px;
    height: 20px;
    width: 60px;
    font-weight: bold;
    color: var(--color-white);    
   
}
