.view-btn, .btn-approve, .btn-reject{
    color: white;
    border: none;
   height: 30px;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
}
.btn-approve{
    background-color: var(--color-success);
}
.btn-reject{
    background-color: var(--color-danger);
}
.view-btn{
    background-color: var(--color-primary);
}

/* Styles for the modal */
.details-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-info-light);
    padding: 20px;
    min-width: 30%;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.details-modal h2{
    margin-bottom: 0.8rem;
}
.detail h3{
    color: var(--color-info-dark);
   
    font-size: 15px;
    padding: 10px;
    padding-left: 0;
    
}
.detail p{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/* Styles for the close button in the modal */
.close-modal-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
}