.register-container {
    display: flex;
    max-width: 600px;
    background-color: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 70%;
    align-items: center;
}


.register-form {
    max-width: 300px;
    margin: 0 auto;
}
.register-form h2{
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 1rem;
   
}

label span{
    color: red;
}
.error-message {
    color: red;
}